.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    width: 30%;
    border-right: 2px solid gray;
}
.container{
    display: flex;
    flex-direction: row;
}
@media (max-width: 768px) {
    .sidebar {
        width: 100%; /* Set the width to 100% for small screens */
        border-right: none; /* Remove the border for small screens */
    }

    .container {
        flex-direction: column; /* Stack items vertically for small screens */
    }
}